services:

  todos-api:
    image: ursu/ant-todos-api:latest
    build:
      context: src
      dockerfile: ../dockerfiles/todos.Dockerfile
    ports:
      - "6001:8080"
    env_file:
      - .env
    restart: on-failure
    depends_on:
      - postgres

  postgres:
    image: postgres:15.7-alpine3.20
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - ./volumes/postgres/data:/var/lib/postgresql/data

  otel-collector:
    image: otel/opentelemetry-collector:0.102.1
    command: [ "--config=/etc/otel-collector-config.yaml" ]
    ports:
      - "8888:8888" # Prometheus metrics exposed by the collector
      - "8889:8889" # Prometheus exporter metrics
      - "13133:13133" # health_check extension
      - "4317:4317" # OTLP gRPC receiver
      - "55679:55679" # zpages extension
    volumes:
      - ./configs/otel-collector/otel-collector-config.yaml:/etc/otel-collector-config.yaml
    env_file:
      - .env

  prometheus:
    image: prom/prometheus:v2.33.0
    ports:
      - "9090:9090"
    command: [ "--config.file=/etc/prometheus/prometheus.yml" ]
    volumes:
      - ./configs/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      GF_SECURITY_ADMIN_USER: "admin"
      GF_SECURITY_ADMIN_PASSWORD: "changeme"
    volumes:
      - ./volumes/grafana/:/var/lib/grafana
      - ./configs/grafana/provisioning:/etc/grafana/provisioning
      - ./configs/grafana/dashboards:/var/lib/grafana/dashboards

  jaeger:
    image: jaegertracing/all-in-one:1.58
    ports:
      - "16686:16686" # UI
      - "5778:5778" # configs
    environment:
      - COLLECTOR_ZIPKIN_HTTP_PORT=9411

  aspire-dashboard:
    image: mcr.microsoft.com/dotnet/nightly/aspire-dashboard:8.0.0-preview.6
    environment:
      DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS: true
    ports:
      - "18888:18888" # UI 
      - "18889:18889" # gRPC
